In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
df5= pd.read_csv(r"..\Climate_Dataset\GlobalTemperatures.csv")
df5.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df5 = df5[df5['dt'] >= '1850-01-01']
df5.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1200,1850-01-01,0.749,1.105,8.242,1.738,-3.206,2.822,12.833,0.367
1201,1850-02-01,3.071,1.275,9.970,3.007,-2.291,1.623,13.588,0.414
1202,1850-03-01,4.954,0.955,10.347,2.401,-1.905,1.410,14.043,0.341
1203,1850-04-01,7.217,0.665,12.934,1.004,1.018,1.329,14.667,0.267
1204,1850-05-01,10.004,0.617,15.655,2.406,3.811,1.347,15.507,0.249

In [4]:
df5.isnull()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1200,False,False,False,False,False,False,False,False,False
1201,False,False,False,False,False,False,False,False,False
1202,False,False,False,False,False,False,False,False,False
1203,False,False,False,False,False,False,False,False,False
1204,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
3187,False,False,False,False,False,False,False,False,False
3188,False,False,False,False,False,False,False,False,False
3189,False,False,False,False,False,False,False,False,False
3190,False,False,False,False,False,False,False,False,False
3191,False,False,False,False,False,False,False,False,False

In [5]:
len(df5)

1992

In [6]:
df5.dropna()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
1200,1850-01-01,0.749,1.105,8.242,1.738,-3.206,2.822,12.833,0.367
1201,1850-02-01,3.071,1.275,9.970,3.007,-2.291,1.623,13.588,0.414
1202,1850-03-01,4.954,0.955,10.347,2.401,-1.905,1.410,14.043,0.341
1203,1850-04-01,7.217,0.665,12.934,1.004,1.018,1.329,14.667,0.267
1204,1850-05-01,10.004,0.617,15.655,2.406,3.811,1.347,15.507,0.249
...,...,...,...,...,...,...,...,...,...
3187,2015-08-01,14.755,0.072,20.699,0.110,9.005,0.170,17.589,0.057
3188,2015-09-01,12.999,0.079,18.845,0.088,7.199,0.229,17.049,0.058
3189,2015-10-01,10.801,0.102,16.450,0.059,5.232,0.115,16.290,0.062
3190,2015-11-01,7.433,0.119,12.892,0.093,2.157,0.106,15.252,0.063
3191,2015-12-01,5.518,0.100,10.725,0.154,0.287,0.099,14.774,0.062

In [7]:
len(df5)

1992

In [8]:
df5['dt'] = pd.to_datetime(df5['dt'])
df5=df5.set_index('dt')
annual_df5= df5.resample('A').mean()

C:\Users\onyxe\AppData\Local\Temp\ipykernel_22632\737027706.py:3: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'YE' instead.
  annual_df5= df5.resample('A').mean()

In [9]:
annual_df5=annual_df5.reset_index()

In [10]:
annual_df5['dt']=annual_df5['dt'].dt.year

In [11]:
annual_df5.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1850,7.900667,0.876417,13.476667,2.394833,1.964333,1.571167,14.867167,0.308167
1,1851,8.178583,0.881917,13.081000,2.397250,2.203917,1.632417,14.991833,0.312083
2,1852,8.100167,0.918250,13.397333,2.619250,2.337000,1.382917,15.006500,0.316417
3,1853,8.041833,0.835000,13.886583,2.095083,1.892500,1.355583,14.955167,0.283833
4,1854,8.210500,0.825667,13.977417,1.783333,1.762167,1.357000,14.991000,0.276417

#### Let the baseline time for the temperature be between 1951 and 1980

In [12]:
#datetime
annual_df5['dt'] = pd.to_datetime(annual_df5['dt'])
# Index Setting
annual_df5 = annual_df5.set_index('dt')
baseline_data = annual_df5['1951':'1980']
baseline_temp = baseline_data['LandAverageTemperature'].mean()
print(f"The baseline temperature is: {baseline_temp:.2f} degree Celsius")

The baseline temperature is: 8.57 degree Celsius

In [13]:
# Calculating deviation
annual_df5['anomaly'] = annual_df5['LandAverageTemperature'] - baseline_temp
print(annual_df5[['LandAverageTemperature', 'anomaly']].tail())

                               LandAverageTemperature   anomaly
dt
1970-01-01 00:00:00.000002011                9.516000  0.944417
1970-01-01 00:00:00.000002012                9.507333  0.935751
1970-01-01 00:00:00.000002013                9.606500  1.034917
1970-01-01 00:00:00.000002014                9.570667  0.999084
1970-01-01 00:00:00.000002015                9.831000  1.259417

In [14]:
print(annual_df5[['LandAverageTemperature', 'anomaly']].head())

                               LandAverageTemperature   anomaly
dt
1970-01-01 00:00:00.000001850                7.900667 -0.670916
1970-01-01 00:00:00.000001851                8.178583 -0.392999
1970-01-01 00:00:00.000001852                8.100167 -0.471416
1970-01-01 00:00:00.000001853                8.041833 -0.529749
1970-01-01 00:00:00.000001854                8.210500 -0.361083

In [15]:
annual_df5['rolling_anomaly'] = annual_df5['anomaly'].rolling(window=10).mean()
print(annual_df5['rolling_anomaly'])

dt
1970-01-01 00:00:00.000001850         NaN
1970-01-01 00:00:00.000001851         NaN
1970-01-01 00:00:00.000001852         NaN
1970-01-01 00:00:00.000001853         NaN
1970-01-01 00:00:00.000001854         NaN
                                   ...
1970-01-01 00:00:00.000002011    0.982642
1970-01-01 00:00:00.000002012    0.976334
1970-01-01 00:00:00.000002013    0.984426
1970-01-01 00:00:00.000002014    1.009034
1970-01-01 00:00:00.000002015    1.022042
Name: rolling_anomaly, Length: 166, dtype: float64

In [16]:
# Multi Column Comparision
# Defining the baseline period
baseline_period = annual_df5['1951':'1980']
#Calculating the average Max and Min for that period
max_baseline = baseline_period['LandMaxTemperature'].mean()
min_baseline = baseline_period['LandMinTemperature'].mean()
# This scales them so they both start at "0" during the baseline period
annual_df5['max_anomaly'] = annual_df5['LandMaxTemperature'] - max_baseline
annual_df5['min_anomaly'] = annual_df5['LandMinTemperature'] - min_baseline
# Calculating the 'Gap' (Nighttime warming vs Daytime warming)
# A positive number means nights have warmed MORE than days since the baseline
annual_df5['warming_gap'] = annual_df5['min_anomaly'] - annual_df5['max_anomaly']
# Smoothing the gap for long-term trend
annual_df5['gap_smoothed'] = annual_df5['warming_gap'].rolling(window=10).mean()